<h2>7日間分の投稿数</h2>
<table class="table">
  <tr>
    <th>6日前</th>
    <th>5日前</th>
    <th>4日前</th>
    <th>3日前</th>
    <th>2日前</th>
    <th>1日前</th>
    <th>今日</th>
  </tr>
  <tr>
    <th><%= @book_count_6day_ago %></th>
    <th><%= @book_count_5day_ago %></th>
    <th><%= @book_count_4day_ago %></th>
    <th><%= @book_count_3day_ago %></th>
    <th><%= @book_count_2day_ago %></th>
    <th><%= @book_count_1day_ago %></th>
    <th><%= @book_count_day %></th>
  </tr>
</table>

<canvas id="myChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: ["6日前", "5日前", "4日前", "3日前", "2日前", "1日前", "今日"],
    datasets:
    [
      {
      label: '一日ごとの本の投稿数',
      borderColor: 'rgba(0,0,255,0.5)',
      data: [
        <%= @book_count_6day_ago %>,
        <%= @book_count_5day_ago %>,
        <%= @book_count_4day_ago %>,
        <%= @book_count_3day_ago %>,
        <%= @book_count_2day_ago %>,
        <%= @book_count_1day_ago %>,
        <%= @book_count_day %>],
      tension: 0.2
      }
    ]
  },
});
</script>